<!DOCTYPE html>
<html>
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>login Page</title>
</head>
<body style="margin-left: 80px;">
    <h1>Event manage System</h1>
    <form method="post" action="/login_action/">
        <input name="username" type="text" placeholder="username"><br>

        <input name="password" type="password" placeholder="password"><br>
        {{error}}<br>
        <button id="btn" type="submit">登录</button>
        {% csrf_token %}
    </form>
</body>
</html>